.activity {
    padding: 20px;
}

.ddSection {
    margin-left: 20%;
}

.customerLbl {
    text-align: left;
    display: table-cell;
}

.monthLbl {
    padding: 20px 45px 0px 0px;
    text-align: left;
    margin-top: 36px;
}

.calcBtnDiv {
    margin-top: 5%;
    margin-right: 12%;
}

.calcBtn {
    background-color: #004E87;
    color: #FFFFFF;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.rewardsTxt {
    padding: 20px;
    margin-left: 12%;
}

.monthTxt,
.totalTxt {
    padding: 10px;
    border: 1px solid #0078cc;
    background-color: #0078cc;
    color: white;
    margin-top: 10px;
    margin-left: 4%;
    width: 540px;
    border-radius: 12px;
}

.ddSection:after {
    display: table;
}

.row {
    display: table-row;
}

.noTransAvail {
    font-size: 18px;
    font-weight: 600;
    color: red;
}